@(requestBlock: Block)
@import java.util.Date

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <div style="text-align: center;">
            <title>Block stat</title>
        </div>
    </head>
    <body>
        <center> <table width="50%" border="1">
            <tr><td>id: @requestBlock.header.id</td></tr>
            <tr><td>parentId: @requestBlock.header.parentId</td></tr>
            <tr><td>version: @requestBlock.header.version</td></tr>
            <tr><td>height: @requestBlock.header.height</td></tr>
            <tr><td>adProofsRoot: @requestBlock.header.adProofsRoot</td></tr>
            <tr><td>stateRoot: @requestBlock.header.stateRoot</td></tr>
            <tr><td>transactionsRoot: @requestBlock.header.transactionsRoot</td></tr>
            <tr><td>timestamp: @{
                new Date(requestBlock.header.timestamp).format("yyyy-MM-dd HH:mm:ss")
            }</td></tr>
            <tr><td>timestamp: @requestBlock.header.timestamp</td></tr>
            <tr><td>difficulty: @requestBlock.header.difficulty</td></tr>
            <tr><td>blockSize: @requestBlock.header.blockSize</td></tr>
            <tr><td>adProofsOpt: @requestBlock.header.adProofsOpt</td></tr>
            <tr><td>txsQty: @requestBlock.header.txsQty</td></tr>
            <tr><td>minerAddress: @requestBlock.header.minerAddress</td></tr>
            <tr><td>minerReward: @requestBlock.header.minerReward</td></tr>
            <tr><td>feesTotal: @requestBlock.header.feesTotal</td></tr>
            <tr><td>txsSize: @requestBlock.header.txsSize</td></tr>
            <tr><td>bestChain: @requestBlock.header.bestChain</td></tr>
            <tr><td><ul>@for(transaction <- requestBlock.payload) {
                <li><a href ="@routes.TransactionsController.findTransactionView(transaction.id)">@transaction.id</a>
                    <br>@{
                        new Date(transaction.timestamp).format("yyyy-MM-dd HH:mm:ss")
                    }
                        @{
                            if(transaction.isCoinbase) "Coinbase" else None
                        }
                </li>
            }</ul> </td>
            </tr>
        </table>
        </center>
        <br>
    </body>
</html>