@(requestBlock: Header)

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <div style="text-align: center;">
            <title>Header stat</title>
        </div>
    </head>

    <body>
        <center> <table width="50%" border="1">
            <tr><td>id: @requestBlock.id</td></tr>
            <tr><td>parentId: @requestBlock.parentId</td></tr>
            <tr><td>version: @requestBlock.version</td></tr>
            <tr><td>height: @requestBlock.height</td></tr>
            <tr><td>adProofsRoot: @requestBlock.adProofsRoot</td></tr>
            <tr><td>stateRoot: @requestBlock.stateRoot</td></tr>
            <tr><td>transactionsRoot: @requestBlock.transactionsRoot</td></tr>
            <tr><td>timestamp: @requestBlock.timestamp</td></tr>
            <tr><td>difficulty: @requestBlock.difficulty</td></tr>
            <tr><td>blockSize: @requestBlock.blockSize</td></tr>
            <tr><td>adProofsOpt: @requestBlock.adProofsOpt</td></tr>
            <tr><td>txsQty: @requestBlock.txsQty</td></tr>
            <tr><td>minerAddress: @requestBlock.minerAddress</td></tr>
            <tr><td>minerReward: @requestBlock.minerReward</td></tr>
            <tr><td>feesTotal: @requestBlock.feesTotal</td></tr>
            <tr><td>txsSize: @requestBlock.txsSize</td></tr>
            <tr><td>bestChain: @requestBlock.bestChain</td></tr>
        </table>
        </center>
        <br>
    </body>
</html>