@import java.util.Date
@(requestBlocks: List[Header])

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <div style="text-align: center;">
            <title>Header list</title>
        </div>
    </head>
    <body>
        <center>
            <tr><td><a href="@routes.SortController.sortByDate(requestBlocks)"></a></td></tr>
            <table class="table" width="50%" border="1" rules="all">
                <thead>
                    <tr>
                        <th scope="col">height</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">txsSize</th>
                        <th scope="col">blockSize</th>
                        <th scope="col">id</th>
                        <th scope="col">txs</th>
                    </tr>
                </thead>
                @for(requestBlock <- requestBlocks) {
                    <tbody>
                        <tr>
                            <th>@requestBlock.height</th>
                            <td>@{
                                new Date(requestBlock.timestamp).format("yyyy-MM-dd HH:mm:ss")
                            }</td>
                            <td>@requestBlock.txsSize</td>
                            <td>@requestBlock.blockSize</td>
                            <td><a href="@routes.BlockController.findBlockView(requestBlock.id)">@requestBlock.id</a></td>
                            <td>@requestBlock.txsQty</td>
                        </tr>
                    </tbody>
                }
            </table>
        </center>
    </body>
</html>