@import java.util.Date
@(transaction: Transaction, outputs: List[Output], inputs: List[Input])

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>get transaction</title>
    </head>
    <body>
        <center> <table width="50%" border="1" rules="all">
            <tr><td>Tx info</td></tr>
            <tr><td>id: @transaction.id</td></tr>
            <tr><td>isCoinbase: @transaction.isCoinbase</td></tr>
            <tr><td>blockId: @transaction.blockId</td></tr>
            <tr><td>
                timestamp:
                @{
                    new Date(transaction.timestamp).format("yyyy-MM-dd HH:mm:ss")
                }
            </td>
            </tr>
        </table>
            <br>
            <table width="50%" border="1" rules="all">
                <tr><td>Outputs info</td></tr>
                @for(output <- outputs) {
                    <tr><td>id: @output.id</td></tr>
                    <tr><td>txId: @output.txId</td></tr>
                    <tr><td>coinId: @output.coinId</td></tr>
                    <tr><td>monetaryValue: @output.monetaryValue</td></tr>
                    <tr><td>contractHash: @output.contractHash</td></tr>
                    <tr><td>data: @output.data</td></tr>
                }
            </table>
            <br>
            <table width="50%" border="1" rules="all">
                <tr><td>Inputs info</td></tr>
                @for(input <- inputs) {
                    <tr><td>id: @input.id</td></tr>
                    <tr><td>tx_id: @input.txId</td></tr>
                    <tr><td>serialized_proofs: @input.proofs</td></tr>
                }
            </table>
        </center>
    </body>
</html>