@import java.util.Date
@(transactions: List[Transaction])

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>get transactions</title>
    </head>
    <body>
        <center> <table width="50%" border="1" rules="all">
        @for(transaction <- transactions) {
            <tr><td>id: @transaction.id</td></tr>
            <tr><td>isCoinbase: @transaction.isCoinbase</td></tr>
            <tr><td>blockId: @transaction.blockId</td></tr>
            <tr><td>@{
                new Date(transaction.timestamp).format("yyyy-MM-dd HH:mm:ss")
            }</td>
            </tr>
        }
        </table>
        </center>
    </body>
</html>