@import java.util.Date
@(requestBlocks: List[Header], from: Int, count: Int)

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <div style="text-align: center;">
            <title>Header list</title>
        </div>
    </head>
    <body>
        <center>
            <table class=" table" width="50%" border="1" rules="all">
                <thead>
                    <tr>
                        <th scope="col"><a href="@routes.HistoryController.listHeadersByCountView("byHeight", from, count)">
                            height</a></th>
                        <th scope="col"><a href="@routes.HistoryController.listHeadersByCountView("byDate", from, count)">
                            Timestamp</a></th>
                        <th scope="col"> <a href="@routes.HistoryController.listHeadersByCountView("byTxsSize", from, count)">
                            TxsSize</a></th>
                        <th scope="col"> <a href="@routes.HistoryController.listHeadersByCountView("byBlockSize", from, count)">
                            BlockSize</a></th>
                        <th scope="col">id</th>
                        <th scope="col"> <a href="@routes.HistoryController.listHeadersByCountView("byTxs", from, count)">
                            Txs</a></th>
                    </tr>
                </thead>
                @for(requestBlock <- requestBlocks) {
                    <tbody>
                        <tr>
                            <th>@requestBlock.height</th>
                            <td>@{
                                new Date(requestBlock.timestamp).format("yyyy-MM-dd HH:mm:ss")
                            }</td>
                            <td>@requestBlock.txsSize</td>
                            <td>@requestBlock.blockSize</td>
                            <td><a href="@routes.BlockController.findBlockView(requestBlock.id)">@requestBlock.id</a></td>
                            <td>@requestBlock.txsQty</td>
                        </tr>
                    </tbody>
                }
            </table>
        </center>
    </body>
</html>