@import java.util.Date
@(requestBlocks: List[Header])

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <div style="text-align: center;">
            <title>Header list</title>
        </div>
    </head>
    <body>
        <center>
            <table class=" table" width="50%" border="1" rules="all">
                <thead>
                    <tr>
                        <th scope="col">height</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">TxsSize</th>
                        <th scope="col">BlockSize</th>
                        <th scope="col">id</th>
                        <th scope="col">Txs</th>
                    </tr>
                </thead>
                @for(requestBlock <- requestBlocks) {
                    <tbody>
                        <tr>
                            <th><a href="@routes.HistoryController.listHeadersAtHeightView("byHeight", requestBlock.height)">@requestBlock.height</a></th>
                            <td>@{
                                new Date(requestBlock.timestamp).format("yyyy-MM-dd HH:mm:ss")
                            }</td>
                            <td>@requestBlock.txsSize</td>
                            <td>@requestBlock.blockSize</td>
                            <td><a href="@routes.BlockController.findBlockView(requestBlock.id)">@requestBlock.id</a></td>
                            <td>@requestBlock.txsQty</td>
                        </tr>
                    </tbody>
                }
                </table>
        </center>
        <center>
            <table class=" table" width="50%" border="1" rules="all">
                <thead>
                    <tr>
                        <th scope="col"> <a href="@routes.HistoryController.listHeadersForMainPageView(requestBlocks.last.height + 100, 100)">
                            prev page</a></th>
                        <th scope="col"> <a href="@routes.HistoryController.listHeadersForMainPageView(requestBlocks.last.height - 100, 100)">
                            next page</a></th>
                    </tr>
                </thead>
            </table>
        </center>
    </body>
</html>